body {
  background-color: pink;
  text-align: center;
}

.square {
  padding: 10px;
  margin: 10px;
  background-color: lightblue;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: top;
  border: 2px solid gray;
  border-radius: 10px;
}

.msgDiv {
  height: 20px;
}
